.projects__container {
}

.projects__title,
.projects__subtitle {
  text-align: center;
}

.project__card {
  margin-top: var(--mb-2);
  padding: 1.5rem;
  display: flex;
  box-shadow: 5px 5px 20px rgb(179, 179, 179);
}

.project__years {
  margin-bottom: var(--mb-0-5);
}

.project__title {
  margin-bottom: var(--mb-1);
}

.project__icon svg {
  font-size: 16px;
  color: var(--title-color);
  margin-left: 8px;
  cursor: pointer;
}
.project__icon svg:hover {
  color: var(--title-color-dark);
}

.project__description {
  margin-bottom: var(--mb-2);
}

.project__technologies {
  display: flex;
  gap: 1.1rem;
}

.project__technologies--item {
  background-color: var(--text-color);
  color: white;
  padding: 4px 16px;
  border-radius: 12px;
}

.project__image {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__image svg {
  font-size: 100px;
  color: rgb(198, 197, 197);
  padding-top: 2rem;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
/* 
* {
  border: 1px solid;
} */
