.projects__container div:nth-child(3) {
  margin-bottom: 4rem;
}

.projects__container span {
  color: var(--text-color);
}

.projects__title,
.projects__subtitle {
  text-align: center;
}

.project__card {
  margin-top: var(--mb-2);
  padding: 1.5rem;
  display: flex;
  box-shadow: 5px 5px 20px rgb(179, 179, 179);
  position: relative;
  overflow: hidden;
}

.project__years {
  margin-bottom: var(--mb-0-5);
}

.project__title {
  margin-bottom: var(--mb-1);
}

.project__icon svg {
  font-size: 24px;
  color: var(--title-color);
  margin-left: 24px;
  cursor: pointer;
}

.project__icon svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);

  color: var(--title-color-dark);
}

.project__description {
  margin-bottom: var(--mb-2);
}

.project__technologies {
  display: flex;
  gap: 1.1rem;
}

.project__technologies--item {
  background-color: var(--text-color);
  color: white;
  padding: 4px 16px;
  border-radius: 12px;
}

.project__image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__image svg {
  font-size: 300px;
  color: rgb(237, 237, 237);
  padding-top: 2rem;
}

.project__repo {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--title-color-dark);
  width: 64px;
  height: 64px;
  border-radius: 0px 0px 0px 60px;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.project__repo svg {
  color: white;
  font-size: 36px;
}

.project__repo svg:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
/* 
* {
  border: 1px solid;
} */
