.about__img {
  background: url("http://unsplash.it/400/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  justify-self: center;
  width: 350px;
  height: 350px;
  border-radius: 30px;
}

.about__title,
.about__subtitle {
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__data {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 58%;
}

.about__description p {
  margin-bottom: var(--mb-1);
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .about__img {
    width: 275px;
    height: 275px;
  }

  .about__subtitle {
    margin-bottom: var(--mb-2);
  }
}

@media screen and (max-width: 576px) {
  .about__data {
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .about__container {
    width: 120vw;
    /* background-color: aqua; */
  }

  .about__description p {
    width: 170%;
  }

  .about__img {
    width: 250px;
    height: 200px;
    margin: auto;
    margin-bottom: var(--mb-2);
  }

  .about__description p {
    margin-bottom: var(--mb-2);
  }

  .about__button {
    margin: auto;
  }
}

/* * {
  border: 1px solid;
} */
