.about__img {
  background: url("https://lh3.googleusercontent.com/pw/AIL4fc9HMRVA5uDJLnqc-L433tD1ux1_W8S-Tl0lQbEI6ZMa9JhKWS96s7l1zZyfrRxTlcQ8MBt8UDktwi6QhROSzuBrsgn3YOS4CqA37XqrXBg-IR0dLx4=w2400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  justify-self: center;
  width: 350px;
  height: 350px;
  border-radius: 30px;
}
.about__button a {
  color: white;
}

.about__title,
.about__subtitle {
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__data {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 58%;
}

.about__description p {
  margin-bottom: var(--mb-2);
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .about__data {
    flex-direction: column;
    align-items: center;
  }
  .about__img {
    width: 275px;
    height: 275px;
    margin-bottom: var(--mb-2);
  }

  .about__subtitle {
    margin-bottom: var(--mb-2);
  }
}

@media screen and (max-width: 576px) {
  .about__img {
    width: 90%;
    height: 200px;
    margin: auto;
    margin-bottom: var(--mb-2);
  }

  .about__description {
    width: 90%;
    text-align: center;
    font-size: var(--small-font-size);
    gap: 1.2rem;
  }

  .about__button {
    margin: auto;
  }
}

@media screen and (max-width: 350px) {
  .about__description {
    font-size: var(--smaller-font-size);
  }
}

/* * {
  border: 1px solid;
} */
