.contact {
  color: white;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #000000;
  /* opacity: 0.8; */
  background-color: #000000;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 10px
    ),
    repeating-linear-gradient(#2f2f2f55, #2f2f2f);
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__title {
  color: antiquewhite;
  text-align: center;
  margin-bottom: var(--mb-2);
}

.contact__form {
  width: 40%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.button--form {
  color: white;
  background-color: var(--title-color);
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  /* width: 28%; */
  width: 60%;
}

.button--form:hover {
  background-color: #1d1d1d;
  font-weight: 600;
}

.contact__social {
  color: var(--body-color);
}

.contact__social--item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(202, 202, 202);
  cursor: pointer;
  margin-bottom: var(--mb-0-75);
}

.contact__social--item:hover {
  color: var(--body-color);
}

.contact__social--item svg {
  font-size: 1.5rem;
}

.contact__social--item p {
  font-family: var(--roboto-font);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .contact__container {
    flex-direction: column;
  }

  .contact__form {
    margin-bottom: 2rem;
  }

  .contact__social {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .contact__social--item p {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .contact__form {
    width: 90%;
  }

  .contact__social {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
}

/* * {
  border: 1px solid;
} */
